<style>
  .card-img-top {
    /*width: 100%;
      height: 12vw;
      object-fit: scale-down; */
    max-width: 220px;
    max-height: 150px;
    width: auto;
    height: auto;
  }
  .topcontainer {
    height: 150px;
    text-align: center;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .descriptionbox {
    width: 100%;
    height: 5vw;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .tag {
    display: inline-block;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }
</style>

<div class="col mb-5">
  <div class="card h-100 bg-hiddencard border-2">
    <!-- Sale badge-->
    {% if post.isFoundItem %}
    <div
      class="badge bg-success text-white position-absolute"
      style="top: 0.5rem; right: 0.5rem"
    >
      Found
    </div>
    {% else%}
    <div
      class="badge bg-danger text-white position-absolute"
      style="top: 0.5rem; right: 0.5rem"
    >
      Lost
    </div>

    {%endif%}

    <div class="topcontainer">
      <img class="card-img-top" src="{{post.picture}}" alt="..." />
      <span class="helper"></span>
    </div>
    <!-- Product details-->
    <div class="card-body p-2">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{post.title}}</h5>
        <strong><i class="fa fa-user" aria-hidden="true"></i> 
          Posted By: </strong>{{post.user[0].netid}}
        <br />
        <div class="overflow-auto">
          <p class="descriptionbox">
            <strong
              ><i class="fa fa-pencil" aria-hidden="true"></i>
              Description: </strong
            >{{post.description}}
          </p>
        </div>
        <strong
          ><i class="fa fa-map-marker" aria-hidden="true"></i>
          Location: </strong
        >{{post.location}}
        <br />
        <strong
          ><i class="fa fa-calendar" aria-hidden="true"></i> Posted On: </strong
        >{{post.created_date.strftime('%m-%d-%Y')}}
        <br />
        <strong
          ><i class="fa fa-clock-o" aria-hidden="true"></i> Expires On: </strong
        >{{post.end_date.strftime('%m-%d-%Y')}}
        <div class="scrolling-wrapper p-1">
          {%for tag in post.categories%}
          <div class="tag">
            <div class="badge bg-info2 text-white">{{tag.tag_name}}</div>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>

    <!-- Product actions-->
    <div
      id="myitemcardfooter"
      class="card-footer p-2 pt-0 border-top-0 bg-transparent"
    >
      <!-- modal citation: https://getbootstrap.com/docs/5.0/components/modal/-->

      <div class="text-center">
            <button
            type="submit"
            name="unhide"
            value=""
            class="btn btn-outline-light mt-auto btn-primary"
            data-bs-target="#unhide{{post.id}}"
            data-bs-toggle="modal"
            >
            Unhide
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Confirmation for unhiding post -->
<div
  class="modal fade"
  id="unhide{{post.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="bg-secondary modal-header">
        <h5 class="text-white modal-title" id="exampleModalLabel">
          {{post.title}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="bg-danger bg-opacity-65 modal-body">
        Are you sure you want to unhide this post?
      </div>
      <div class="bg-secondary modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger btn-ok"
          onclick="visibility('{{post.id}}')"
          data-bs-dismiss="modal"
        >
          Unhide
        </button>
      </div>
    </div>
  </div>
</div>
