.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
  }


  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
  }
  .shadow {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  }
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  }
  .shadow-none {
    box-shadow: none !important;
  }

  .dropdown .dropdown-menu .dropdown-header,
.sidebar .sidebar-heading,
.text-uppercase {
  text-transform: uppercase !important;
}


.border-left-primary {
    border-left: 0.25rem solid #4e73df !important;
  }
  .border-bottom-primary {
    border-bottom: 0.25rem solid #4e73df !important;
  }
  .border-left-secondary {
    border-left: 0.25rem solid #858796 !important;
  }
  .border-bottom-secondary {
    border-bottom: 0.25rem solid #858796 !important;
  }
  .border-left-success {
    border-left: 0.25rem solid #1cc88a !important;
  }
  .border-bottom-success {
    border-bottom: 0.25rem solid #1cc88a !important;
  }
  .border-left-info {
    border-left: 0.25rem solid #36b9cc !important;
  }
  .border-bottom-info {
    border-bottom: 0.25rem solid #36b9cc !important;
  }
  .border-left-warning {
    border-left: 0.25rem solid #f6c23e !important;
  }
  .border-bottom-warning {
    border-bottom: 0.25rem solid #f6c23e !important;
  }
  .border-left-danger {
    border-left: 0.25rem solid #e74a3b !important;
  }
  .border-bottom-danger {
    border-bottom: 0.25rem solid #e74a3b !important;
  }
  .border-left-light {
    border-left: 0.25rem solid #f8f9fc !important;
  }
  .border-bottom-light {
    border-bottom: 0.25rem solid #f8f9fc !important;
  }
  .border-left-dark {
    border-left: 0.25rem solid #5a5c69 !important;
  }
  .border-bottom-dark {
    border-bottom: 0.25rem solid #5a5c69 !important;
  }

  .font-weight-light {
    font-weight: 300 !important;
  }
  .font-weight-lighter {
    font-weight: lighter !important;
  }
  .font-weight-normal {
    font-weight: 400 !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .font-weight-bolder {
    font-weight: bolder !important;
  }
  .font-italic {
    font-style: italic !important;
  }

  .progress-sm {
    height: 0.5rem;
  }

  progress {
    vertical-align: baseline;
  }

  @-webkit-keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  @keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
  }
  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #eaecf4;
    border-radius: 0.35rem;
  }
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4e73df;
    transition: width 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar {
      transition: none;
    }
  }
  .progress-bar-striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
  }
  .progress-bar-animated {
    -webkit-animation: 1s linear infinite progress-bar-stripes;
    animation: 1s linear infinite progress-bar-stripes;
  }
  @media (prefers-reduced-motion: reduce) {
    .progress-bar-animated {
      -webkit-animation: none;
      animation: none;
    }
  }


  .text-gray-100 {
    color: #f8f9fc !important;
  }
  .text-gray-200 {
    color: #eaecf4 !important;
  }
  .text-gray-300 {
    color: #dddfeb !important;
  }
  .text-gray-400 {
    color: #d1d3e2 !important;
  }
  .text-gray-500 {
    color: #b7b9cc !important;
  }
  .text-gray-600 {
    color: #858796 !important;
  }
  .text-gray-700 {
    color: #6e707e !important;
  }
  .text-gray-800 {
    color: #5a5c69 !important;
  }
  .text-gray-900 {
    color: #3a3b45 !important;
  }