{% extends "main/navbar.html" %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-lg-5 my-custom">
        <div class="text-center text-white">
            <h1 id="title" class="display-4 fw-bolder">{{title}}</h1>
            <p class="lead fw-normal mb-0">View items that have been {{title.lower().split(" ")[0]}} around campus.</p>
        </div>
    </div>
    </div>
</header>


<div class="container-fluid">
    <div class="row align-items-start">

        <!-- sidebar -->
        <div class="sticky sidebar_container col-md-2">
            {% with tags_by_category=tags_by_category %} {% include
            "main/sidebar.html" %} {%endwith%}
        </div>
        <!-- end sidebar -->

        <div class="col-md-9">
            <section class="py-0">
                <div class="items_container container px-4 px-lg-5">

                    <!-- Search -->
                    <div class="sticky search_container row align-items-center">
                        <div class="col-md-12 mb-3">

                            {% if session['admin_status'] %}
                            <input id="search" type="text" form="filters" name="keyword" maxlength="200"
                                placeholder="Search by title, description, location, or user"
                                class="form-control form-control-lg" />
                            {% else %}
                            <input id="search" type="text" form="filters" name="keyword" maxlength="200"
                                placeholder="Search by title, description, or location"
                                class="form-control form-control-lg" />

                            {% endif %}
                        </div>
                    </div>
                    <!-- End search -->
                    <div class="row ml-1">
                        <div class="spinner-border text-warning" role="status" id="search_indicator">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <!-- Items -->
                    <div id="posts" class="
              row
              gx-4 gx-lg-5
              row-cols-1 row-cols-md-2 row-cols-xl-3
              justify-content-left
            ">

                    </div>
                    {% include "main/scrolltop.html" %}
                </div>
            </section>
        </div>
        <!-- left padding -->
        <div class="col-md-1"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('main.static', filename='js/scripts.js')}}"></script>


{% include "main/createbutton.html" %}{% endblock content %}