{% extends "main/navbar.html" %}
{% block content %}
<link href="{{ url_for('main.static', filename='css/landing.css') }}" rel="stylesheet">
<link href="{{url_for('main.static', filename='css/styles.css')}}" rel="stylesheet" />

<body id="page-top">
    <!-- Header-->
    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="mb-1">TigerSearch</h1>
            <h2 class="mb-3" style="color:darkslategray">Princeton's Virtual Lost and Found</h2>
            <h3 class="mb-5"><em>Find your stuff. Don't clutter the listservs.</em></h3>
            <a class="btn btn-secondary btn-xl" style="padding: 1.25rem 2.5rem;"
                href="{{url_for('users.login')}}">Login</a>
        </div>
    </header>
</body>

<!-- footer -->
<footer class="py-2 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white">Created by: Anagha Rajagopalan, Mandy Lin, Moin Mir, Omar El-Kishky</p>
    </div>
</footer>
{% include "main/toast.html" %}
{%endblock content%}